# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

*.DS_Store
*.app
*.idea
.idea
lab2/main.dSYM
lab6/.vscode
lab6/build
lab6/cmake-build-debug
lab6/main.dSYM
lab6/main
lab7/cmake-build-debug
